@font-face {

    font-family: 'Tondo-500';

    src: url(../fonts/tondo/tondo-bold-webfont.eot);

    src: url(../fonts/tondo/tondo-bold-webfont.eot?#iefix)
    format("embedded-opentype"),
    url(../fonts/tondo/tondo-bold-webfont.woff2)
    format("woff2"),
    url(../fonts/tondo/tondo-bold-webfont.woff)
    format("woff"),
    url(../fonts/tondo/tondo-bold-webfont.ttf)
    format("truetype"),
    url(../fonts/tondo/tondo-bold-webfont.svg#tondobold)
    format("svg");

    font-weight:
            500;

    font-style:
            normal;

}

@font-face {

    font-family: 'Tondo-600';

    src: url(../fonts/tondo/tondo-bold-webfont.eot);

    src: url(../fonts/tondo/tondo-bold-webfont.eot?#iefix)
    format("embedded-opentype"),
    url(../fonts/tondo/tondo-bold-webfont.woff2)
    format("woff2"),
    url(../fonts/tondo/tondo-bold-webfont.woff)
    format("woff"),
    url(../fonts/tondo/tondo-bold-webfont.ttf)
    format("truetype"),
    url(../fonts/tondo/tondo-bold-webfont.svg#tondobold)
    format("svg");

    font-weight:
            600;

    font-style:
            normal;

}

@font-face {

    font-family: 'Tondo-400';

    src: url(../fonts/tondo/tondo-regular-webfont.eot);

    src: url(../fonts/tondo/tondo-regular-webfont.eot?#iefix)
    format("embedded-opentype"),
    url(../fonts/tondo/tondo-regular-webfont.woff2)
    format("woff2"),
    url(../fonts/tondo/tondo-regular-webfont.woff)
    format("woff"),
    url(../fonts/tondo/tondo-regular-webfont.ttf)
    format("truetype"),
    url(../fonts/tondo/tondo-regular-webfont.svg#tondoregular)
    format("svg");

    font-weight:
            400;

    font-style:
            normal;

}

@font-face {

    font-family: 'Tondo-100';

    src: url(../fonts/tondo/tondo-light-webfont.eot);

    src: url(../fonts/tondo/tondo-light-webfont.eot?#iefix)
    format("embedded-opentype"),
    url(../fonts/tondo/tondo-light-webfont.woff2)
    format("woff2"),
    url(../fonts/tondo/tondo-light-webfont.woff)
    format("woff"),
    url(../fonts/tondo/tondo-light-webfont.ttf)
    format("truetype"),
    url(../fonts/tondo/tondo-light-webfont.svg#tondolight)
    format("svg");

    font-weight:
            100;

    font-style:
            normal;

}​