
::-webkit-scrollbar {
	width: 8px;
  background-color: #F5F5F5;
  height:8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #999;
}
::-webkit-scrollbar-track {

	border-radius: 10px;
	background-color: #F5F5F5;
}
